<ion-header>
  <ion-toolbar  color="dark">

    <ion-title size="small" slot="end">
      <ion-button shape="round" size="small" fill="outline" color="danger">{{ today | date: 'medium' }}</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header><br><br>

<ion-content>
  <ion-grid>
<ion-row class="ion-align-items-center">
  <ion-col>
    <ion-card>
      <div  class="form-group">
        <ion-item>
          <ion-input type="text" class="form-control" [(ngModel)]="firstname" placeholder="Enter your first name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" class="form-control" [(ngModel)]="lastname" placeholder="Enter your last name"></ion-input>
        </ion-item>
          <ion-button  expand="full" (click)="crateRecord()" [disabled]="!firstname || !lastname">Submit</ion-button>
          <ion-button  expand="full" (click)="openBlank()">Display Data</ion-button>
      </div>
    </ion-card>
  <div class="form-group">
    <h4><b>{{message}}</b></h4>
  </div>
  </ion-col>
</ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar  color="dark">
  </ion-toolbar>
</ion-footer>
